<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Profile Update</h1>
    </div>
</div>

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3">
        <div class="col-xs-12">
            <label><strong>Username:</strong></label>
            {{ user.username }}
        </div>
        <div class="col-xs-12">
            <label>First Name:</label>
            {{ form.first_name }}
        </div>
        <div class="col-xs-12">
            <label>Last Name:</label>
            {{ form.last_name }}
        </div>
        <div class="col-xs-12">
            <label>Email:</label>
            {{ form.email }}
        </div>
        <div class="col-6">
            <a class="back btn btn-dark btn-back" href="{% url 'profile-view' user.id %}">
                <i class="fa-solid fa-circle-chevron-left"></i>
                <span> Back</span>
            </a>
        </div>
        <div class="col-6 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check"></i>
                <span> Update</span>
            </button>
        </div>
    </div>
    {% csrf_token %}
</form>
<div class="row form-container center g-3 pb-3">
    <div class="col-xs-12">
        <a class="back btn btn-dark btn-back btn-change-password" href="{% url 'password-view' user.id %}">
            <i class="fa-solid fa-key"></i>
            <span>Change Password</span>
        </a>
    </div>
</div>