{% block content %}

<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Profile Update</h1>
    </div>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3">
        <div class="col-xs-12">
            <label for="id_username"><strong>Username:</strong> </label>
            {{ user.username }}
        </div>
        <div class="col-xs-12">
            <label for="id_first_name">First Name:</label>
            {{ form.first_name }}
        </div>
        <div class="col-xs-12">
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name }}
        </div>
        <div class="col-xs-12">
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div class="col-6">
            <a class="back" href="{% url 'profile-view' user.id %}">
                <button type="button" class="btn btn-dark btn-back" role="button" aria-label="Go Back">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                    <span> Back</span>
                </button>
            </a>
        </div>
        <div class="col-6 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check" aria-label="Update"></i>
                <span> Update</span>
            </button>
        </div>
    </div>
    {% csrf_token %}
</form>
<div class="row form-container center g-3 pb-3">
    <div class="col-xs-12">
        <a class="back" href="{% url 'password-view' user.id %}">
            <button type="button" class="btn btn-dark btn-back btn-change-password" role="button" aria-label="Go Back">
                <i class="fa-solid fa-key"></i>
                <span>Change Password</span>
            </button>
        </a>
    </div>
</div>

{% endblock content %}