{% block content %}

<h1>Update Profile</h1>

<a href="{% url 'profile-view' user.id %}">Go Back</a>

<form action="" method="POST" enctype="multipart/form-data">
    {{ form.as_p }}
    <input type="submit" value="Update">

    {% csrf_token %}
</form>
<div>
    <p>No password set.</p>
    <p>Raw passwords are not stored, so there is no way to see this user’s password, but you can change the password
        using  <a href="{% url 'password-view' user.id %}">this form</a>.
    </p>
</div>
{% endblock content %}