<footer id="footer">

    <!-- social media -->
    <div class="section-width-1200">
        <div class="footer-social">
            <ul class="social-media">
                <li>
                    <a href="https://github.com/lukaszkukla/" target="_blank" rel="noopener" class="social-media-links"
                        aria-label="link to GitHub page">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://gitpod.io/" target="_blank" rel="noopener" class="social-media-links"
                        aria-label="link to GitPod page">
                        <i class="fa-brands fa-square-git fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lukaszkukla/" target="_blank" rel="noopener" class="social-media-links"
                        aria-label="link to LinkedIn channel">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                </li>

            </ul>
        </div>

        <!-- site map links -->
        <ul class="footer-links-inline">
            <li><a href="#hero" class="logo" aria-label="home">Safely</a></li>
            <li><a href="#portfolio" class="footer-links-text" aria-label="link to portfolio section">About</a>
            </li>
            <li class="footer-links-buttons-divider"> &#47; </li>
            <li><a href="#testimonials" class="footer-links-text"
                    aria-label="link to testimonials section">Contact</a></li>
            <li class="footer-links-buttons-divider"> &#47; </li>
            <li><a href="#about" class="footer-links-text" aria-label="link to about section">Privacy Policy</a></li>
            <li class="footer-links-buttons-divider"> &#47; </li>
            <li><a href="tel:+353877405135" class="footer-links-text footer-link-below"
                    aria-label="mobile number"><i class="fas fa-phone-alt"></i> +353 87 054 0026</a></li>
            <li class="footer-links-buttons-divider"> &#47; </li>
            <li><a href="mailto:lukaszkukla@gmail.com" class="footer-links-text footer-link-below"
                    aria-label="email address"><i class="fas fa-envelope"></i> lukaszkukla@gmail.com</a>
            </li>
        </ul>
        <div class="all-rights-reserved">2022 Safely</div>
    </div>
    <div class="design-by-wrapper">
        <div class="designed-by">
            <span> Safely 2022 designed by kukladev.com</span>
        </div>
    </div>

</footer>