<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'hazard/layouts/head.html' %}
</head>

<!-- Navigation -->

<body>

    
    {% include 'hazard/layouts/head.html' %}

    <!-- navbar -->
    {% include 'hazard/layouts/navbar.html' %}

    <!-- messages -->
    {% include 'hazard/components/messages.html' %}
    

    <main class="container flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    {% include 'hazard/layouts/footer.html' %}
   
    {% include 'hazard/layouts/scripts.html' %}

</body>

</html>