<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'hazard/layouts/head.html' %}
</head>

<!-- navigation -->

<body>

    <!-- head -->
    {% include 'hazard/layouts/head.html' %}

    <!-- navbar -->
    {% include 'hazard/layouts/navbar.html' %}

    <!-- messages -->
    {% include 'hazard/components/messages.html' %}    

    <!-- main -->
    <main class="container container-fluid flex-shrink-0 main-bg wrapper">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- footer -->
    {% include 'hazard/layouts/footer.html' %}
    <!-- scripts -->
    {% include 'hazard/layouts/scripts.html' %}

</body>

</html>