<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Hazards</h1>

    <a href="{% url 'hazard-create' %}">Add Hazard</a>
    
    <table>
        <tr>
            <th>Title</th>            
            <th>Detail View</th>            
        </tr>
        {% for hazard in hazards %}
        <tr>
            <td>{{ hazard.title }}</td>          
            <td><a href="{% url 'hazard' hazard.id %}">Open</a></td>          
            <td><a href="{% url 'hazard-update' hazard.id %}">Edit</a></td>          
            <td><a href="{% url 'hazard-delete' hazard.id %}">Delete</a></td>          
        </tr>
        {% empty %}
        <h3>No hazards recorded</h3>
        {% endfor %}
    </table>
</body>
</html>