{% extends 'hazard/base.html' %}

{% block content %}

<div>
    <h1>List of Hazards</h1>

    <a href="{% url 'hazard-create' %}">Add Hazard</a>

    <table>
        <tr>
            <th>Title</th>
            <th>Detail View</th>
            <th>Hazard ID</th>
        </tr>
        {% for hazard in hazards %}
        <tr>
            <td>{{ hazard.title }}</td>
            <td>{{ hazard.id }}</td>
            <td><a href="{% url 'hazard' hazard.id %}">Open</a></td>
            <td><a href="{% url 'hazard-update' hazard.id %}">Edit</a></td>
            <td><a href="{% url 'hazard-delete' hazard.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>No hazards recorded</h3>
        {% endfor %}
    </table>
</div>

{% endblock content %}