@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

/* colors used for the website */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --azure: #E1F2F7;
    --burgundy: #AE093B;
    --lightpink: #E5BACE;
    --pink: #F31659;
    --darkpink: #740627;
    --green: #00660C;
    --darkgreen: #004208;
    --lightgrey: #FAFAFA;
    --light-grey-transparent: #F1F1F1cc;
    --mediumgrey: #D9DADF;
    --grey: #666666;
    --darkgrey: #444444;
    --orange: #9E3200;
}

/* global styles */

* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--lightgrey);
}

a {
    text-decoration: none;
}

footer a:hover {
    color: var(--azure)
}

.text-smaller {
    font-size: 1.4rem;
}

.align-right {
    text-align: right;
}

.space-evenly {
    justify-content: space-evenly;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
}

/* Container */
.container {
    max-width: 120rem;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    padding-top: 8rem;
}

.form-container {
    max-width: 65rem;
    margin: 1rem auto;
}

.page-header {
    text-align: left;
    margin: 0 auto;
}

.title-page {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.center {
    margin: 0 auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--burgundy);
    padding: 1rem;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar a {
    color: var(--white);
}

.navbar-brand {
    font-size: 1.6rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: var(--white);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-bg {
    background: var(--burgundy);
}

.nav-item {
    color: white;
    list-style: none;
}

.nav-link {
    color: white;
}

.nav-item a {
    color: white;
}

.nav-link:hover {
    color: var(--white);
    text-decoration: underline;
    transform: none;
    transition: none;
}

.dropdown a:focus {
    color: #fff;
}

.dropdown-toggle {}

.dropdown-menu {
    background: #AE093B;
    font-size: 1.6rem;
}

.dropdown-item {}



/* Content Text */
.resolved {
    color: var(--green);
    font-weight: 700;
}

.unresolved {
    color: var(--burgundy);
    font-weight: 700;
}

/* Card */
.card {
    max-width: 36rem;
    padding: 1rem;
}

.card-image {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-image img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.card-status {
    color: var(--black);
    font-weight: 700;
}

/* Icon */
.resolved-icon {
    color: var(--green);
}

.unresolved-icon {
    color: var(--burgundy);
}

.pending-icon {
    color: var(--orange);
}

.fas,
.fa-solid {
    padding: 1rem 0;
}

.title-haz {
    font-size: 2rem;
    max-height: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.title-item-wrap {
    overflow-wrap: break-word;
}

.item-description {
    overflow-wrap: break-word;
}


/* Button and Input */

.btn {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#id_image,
.btn-main,
.btn-back,
.btn-add,
.btn-edit,
.btn-view,
.btn-delete {
    width: 100%;
    font-size: 1.6rem;
    background: var(--burgundy);
    border: none;
    border-radius: 5px;
}

.btn-main:hover {
    background: var(--green);
}

.btn-main:focus {
    border-color: var(--burgundy);
    box-shadow: inset 0 1px 1px #00000013, 0 0 8px #AE093B99;
}

.btn-back,
.btn-view {
    background: var(--darkgrey);
}

.btn-back:hover,
.btn-view:hover {
    background: var(--black);
}

.btn-back:focus,
.btn-view:focus {
    border-color: var(--darkgrey);
    box-shadow: inset 0 1px 1px #00000013, 0 0 5px #00000099;
}

.btn-edit,
.btn-add {
    background: var(--green);
}

.btn-edit:hover,
.btn-add:hover {
    background: var(--darkgreen);
}

.btn-edit:focus,
.btn-add:focus {
    border-color: var(--green);
    box-shadow: inset 0 1px 1px #00660C13, 0 0 5px #00420899;
}

.btn-delete:hover,
.btn-change-password:hover {
    background: var(--darkpink);
}

.btn-delete:focus,
.btn-change-password:focus {
    border-color: var(--darkpink);
    box-shadow: inset 0 1px 1px #F3165913, 0 0 5px #74062799;
}

.btn-change-password {
    color: var(--white);
    background: var(--pink);
}

#id_image {
    background: var(--lightgrey);
}

#id_image:hover {
    background: var(--mediumgrey);
}

#id_image:focus {
    border-color: var(--darkgrey);
    box-shadow: inset 0 1px 1px #00000013, 0 0 5px #00000099;
}

.image-update a {
    color: var(--burgundy);
    padding-left: 3rem;
    margin: 0 auto;
}

.btn-haz,
.btn-action {
    padding: 0.5rem;
    text-align: center;
}

.btn-haz a {
    color: var(--black);
}

.btn-center,
.center-text {
    text-align: center;
}

#id_category,
#id_level,
#id_status,
#id_first_name,
#id_last_name,
#id_email,
#id_old_password,
#id_new_password1,
#id_new_password2 {
    appearance: none;
    outline: 0;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background: var(--mediumgrey);
}

.update-hazard {
    margin-top: 1rem;
}

#id_category:focus,
#id_level:focus,
#id_status:focus,
#id_first_name:focus,
#id_last_name:focus,
#id_email:focus,
#id_old_password:focus,
#id_new_password1:focus,
#id_new_password2:focus {
    border-color: var(--darkgrey);
    box-shadow: inset 0 1px 1px #00000013, 0 0 5px #00000099;
}

/* .btn-update,
.btn-update a {
    background: var(--green);
    color: var(--white);
    display: inline;
} */

/* .btn-delete,
.btn-delete a {
    background: var(--burgundy);
    color: var(--white);
    display: inline;
} */

.input-main,
.search-hazard-form-input {
    border: 1px solid var(--mediumgrey);
    border-radius: 5px;
    font-size: 2.2rem;
}

.form-control:focus {
    border-color: #AE093B;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #AE093B99;
}

.search-hazard-form-input,
.search-hazard-form-btn {
    width: 100%;
    outline: none;
    box-shadow: none;
}

#id_name,
#name,
#email,
#phone,
#id_title,
.input-text-field {
    margin-bottom: 1rem;
    width: 100%;
    appearance: none;
    outline: 0;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--mediumgrey);
}

#id_name:focus,
#id_title:focus {
    border-color: var(--burgundy);
    box-shadow: inset 0 1px 1px #00000013, 0 0 8px #AE093B99;
}

#id_description,
#message {
    box-sizing: border-box;
    padding: 1rem;
    appearance: none;
    outline: 0;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    background: var(--mediumgrey);
}

#password-change ul {
    list-style-type: none;
}

/* Footer */

#footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--grey);
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section-width-1200 {
    max-width: 120rem;
    margin: 0 auto;
}

/* social media links */

.footer-social {
    text-align: center;
    padding: 1rem 0;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.social-media-links {
    display: inline-block;
    padding: 1.6rem;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    width: 10rem;
    height: 10rem;
    color: var(--white);
}

.social-media-links:hover {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}

/* site map */

#footer .logo {
    color: var(--white);
    padding: 0 1rem;
}

.footer-links-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1rem;
    list-style: none;
}

.footer-links-text {
    color: var(--white);
}

.footer-links-buttons-divider {
    display: inline;
    list-style-type: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 0 1rem;
    color: var(--white);
}

.all-rights-reserved {
    text-align: center;
    padding: 3rem 0;
}

.design-by-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
    background: var(--darkgrey);
    margin-top: auto;

}

.designed-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    min-height: 6rem;
    padding-right: 1rem;
}

.messages {
    margin: 0 auto;
    text-align: center;
}

/* Homepage */

/* hero */

#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: calc(100vh);
    z-index: 1;
}

.hero-image {
    /* push hero image down so it's not covered by navbar */
    height: calc(100vh);

    width: 100%;
    background: url('https://res.cloudinary.com/lkcloud/image/upload/v1661346361/safely/hazards/Collection_of_Construction_Safety_Helmet_d5p7an.jpg') no-repeat center center;

    /* animates zoom effect on loadig page */
    -webkit-animation-name: hero-zoom;
    animation-name: hero-zoom;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@-webkit-keyframes hero-zoom {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hero-zoom {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/* hero text */

.hero-text {
    font-size: 2.2rem;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    width: 28rem;
    height: 12rem;
    padding: 2rem 1rem 0 1rem;
    background-color: var(--light-grey-transparent);
    bottom: 20rem;
    position: relative;
    margin: 0 auto;
}

/* ethos */

#ethos {
    width: 100%;
    background-color: var(--light-grey);
}

.ethos-heading {
    padding: 1rem 0 0 1rem;
    text-align: left;
}

.ethos-grid {
    max-width: 120rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: auto;
}

.ethos-content {
    margin: 0 auto;
    max-width: 90rem;
    text-align: center;
    font-size: 2rem;
    padding: 3rem 2rem;
}

/* media queries */

@media screen and (min-width: 896px) {
    .form-container {
        max-width: 70rem;
    }
}

@media screen and (min-width: 1024px) {
    .form-container {
        max-width: 85rem;
    }
}
