<div class="form-container">
    <div>
        <h1 class="py-5 text-center">Sign in to your account</h1>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row center form-container g-3 pb-3">
            <div class="col-xs-12">
                <label for="id_username" name="username" class="form-label">Username</label>
                {{ form.username }}
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-4">
                        <label for="id_password" name="password" class="form-label">Password</label>
                    </div>
                    <div class="col-8 align-right">
                        <span class="text-smaller"><a href="{% url 'password-reset' %}">Forgot your password?</a></span>
                    </div>
                </div>
                {{ form.password }}
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-main" role="button" aria-label="Login">
                    <i class="fa-solid fa-unlock"></i>
                    <span> Login</span>
                </button>
            </div>
            <div class="col-xs-12 text-smaller">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
            {% csrf_token %}
        </div>
    </form>
</div>