{% block content %}

<!-- Login -->
<div class="form-container">
    <div>
        <h1 class="py-5 text-center">Sign in to your account</h1>
    </div>
    <form class="row g-3" method="POST">
        <div class="col-8 offset-2">
            <label for="id_username" name="username" class="form-label">Username</label>
            {{ form.username }}
        </div>
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-4">
                    <label for="id_password" name="password" class="form-label">Password</label>
                </div>
                <div class="col-8 align-right">
                    <span class="text-smaller"><a href="{% url 'password_reset' %}">Forgot your password?</a></span>
                </div>
            </div>     
            {{ form.password }}
        </div>
        <div class="col-12 p-2 text-center">
            <button type="submit" class="btn btn-primary btn-main">Login</button>
        </div>
        <div class="col-10 offset-1 offset-md-2 p-2 text-smaller">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>            
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock content %}