<div class="row center form-container page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Create your Safely account</h1>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label for="id_username">Username</label>
            {{ form.username }}
        </div>
        <div class="col-xs-12">
            <label for="id_password1">Password</label>
            {{ form.password1 }}
        </div>
        <div class="col-xs-12">
            <label for="id_password2">Confirm</label>
            {{ form.password2 }}
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-main">
                <i class="fa-solid fa-unlock"></i>
                <span> Register</span>
            </button>
        </div>
        <div class="col-xs-12 text-smaller">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
    {% csrf_token %}
</form>
<hr>
<div id="password-change" class="row center form-container text-smaller g-3 pb-3">
    <h3>User and Password Tips</h3>
    <ul>
        <li><i class="fa-solid fa-check"></i> Password is required field. It must be 150 characters or fewer. Letters,
            digits and @/./+/-/_ only.</li>
        <li><i class="fa-solid fa-check"></i> Your password can’t be too similar to your other personal information.
        </li>
        <li><i class="fa-solid fa-check"></i> Your password must contain at least 8 characters.</li>
        <li><i class="fa-solid fa-check"></i> Your password can’t be a commonly used password.</li>
        <li><i class="fa-solid fa-check"></i> Your password can’t be entirely numeric.</li>
    </ul>
</div>