


<!--Password Reset Complete-->

<div class="row center form-container page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Password reset complete</h1>
        <p>Your password has been set. You may go ahead and log in now.</p>
    </div>
</div>
<div class="row center form-container g-3 pb-3">
    <div class="col-xs-12">
        <a class="back" href="/login">
            <button type="submit" class="btn btn-primary btn-main" role="button" aria-label="Login">
                <i class="fa-solid fa-unlock"></i>
                <span> Login</span>
            </button>
        </a>
    </div>
</div>

