{% extends 'hazard/base.html' %}

{% block content %}

<!--Password Reset Confirm-->
<div class="row center form-container page-header">
	<div class="col-xs-12">
        <h1 class="center-text title-page">Enter new password</h1>
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    </div>
</div>



<form action="" method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label for="id_password1" name="new_password1" class="form-label">New Password</label>
            {{ form.new_password1 }}
        </div>
        <div class="col-xs-12">
            <label for="id_password2" name="new_password2" class="form-label">Confirm Password</label>
            {{ form.new_password2 }}
        </div>
        <div class="col-xs-12 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check" aria-label="Update"></i>
                <span> Reset</span>
            </button>
        </div>
		{{ form.as_p}}
        {% csrf_token %}
    </div>
</form>
<hr>
<div id="password-change" class="row center form-container text-smaller g-3 pb-3">
    <h3>Password Tips</h3>
    <ul>
        <li><i class="fa-solid fa-check"></i> Your password can’t be too similar to your other personal information.</li>
        <li><i class="fa-solid fa-check"></i> Your password must contain at least 8 characters.</li>
        <li><i class="fa-solid fa-check"></i> Your password can’t be a commonly used password.</li>
        <li><i class="fa-solid fa-check"></i> Your password can’t be entirely numeric.</li>
    </ul>
</div>

{% endblock content %}