{% extends 'hazard/base.html' %}

{% block title %} Password Change {% endblock %}
{% block content %}

<h1>Password Change</h1>

<a href="{% url 'hazards' %}">Go Back</a>

<div>
    <form method="POST">
        {{ form.as_p }}
        <input type="submit" value="Update" class="btn btn-secondary">
        <br/><br/>

        {% csrf_token %}

        
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </form>
</div>

{% endblock %}