{% block content %}

<!--Password change -->
<div class="form-container">
    <div>
        <h1 class="py-5 text-center">Password Change</h1>
    </div>
    <div class="col-8 offset-2">
        <a href="{% url 'hazards' %}">Go Back</a>
    </div>    
    <form class="row g-3" method="POST">
        <div class="col-8 offset-2">
            <label for="id_username" name="old_password" class="form-label">Old Password</label>
            {{ form.old_password }}
        </div>
        <div class="col-8 offset-2">
            <label for="id_password1" name="new_password1" class="form-label">New Password</label>
            {{ form.new_password1 }}
        </div>
        <div class="col-8 offset-2">
            <label for="id_password2" name="new_password2" class="form-label">Confirm Password</label>
            {{ form.new_password2 }}
        </div>
        <div class="col-8 offset-2 py-5 text-center">
            <input type="submit" value="Update" class="btn btn-secondary btn-main">
        </div>
        {% csrf_token %}
    </form>
    <hr>
    <div class="col-8 offset-2 offset-md-2 py-5 text-smaller">
        <h3>Password Tips</h3>
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </div>
</div>


{% endblock content %}