<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Password Change</h1>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label>Old Password</label>
            {{ form.old_password }}
        </div>
        <div class="col-xs-12">
            <label>New Password</label>
            {{ form.new_password1 }}
        </div>
        <div class="col-xs-12">
            <label>Confirm Password</label>
            {{ form.new_password2 }}
        </div>
        <div class="col-6">
            <a class="back btn btn-dark btn-back" href="{% url 'profile-update' user.id %}">
                <i class="fa-solid fa-circle-chevron-left"></i>
                <span> Back</span>
            </a>
        </div>        
        <div class="col-6 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check"></i>
                <span> Update</span>
            </button>
        </div>
        {% csrf_token %}
    </div>
</form>
<hr>
<div id="password-change" class="row center form-container text-smaller g-3 pb-3">
    <h3>Password Tips</h3>
    <ul>
        <li><i class="fa-solid fa-check"></i> Your password can’t be too similar to your other personal information.
        </li>
        <li><i class="fa-solid fa-check"></i> Your password must contain at least 8 characters.</li>
        <li><i class="fa-solid fa-check"></i> Your password can’t be a commonly used password.</li>
        <li><i class="fa-solid fa-check"></i> Your password can’t be entirely numeric.</li>
    </ul>
</div>