{% extends 'hazard/base.html' %}

{% block content %}

<!--Password Reset Confirm-->
<div class="row center form-container page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Enter new password</h1>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    </div>
</div>

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label>New Password</label>
            {{ form.new_password1 }}
        </div>
        <div class="col-xs-12">
            <label>Confirm Password</label>
            {{ form.new_password2 }}
        </div>
        <div class="col-xs-12 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check"></i>
                <span> Reset</span>
            </button>
        </div>
        {% csrf_token %}
    </div>
</form>
<hr>
<div id="password-change" class="row center form-container text-smaller g-3 pb-3">
    <div class="col-xs-12">
        <h3>Password Tips</h3>
        <ul>
            <li>
                <i class="fa-solid fa-check"></i>
                Your password can’t be too similar to your other personal information.
            </li>
            <li><i class="fa-solid fa-check"></i> Your password must contain at least 8 characters.</li>
            <li><i class="fa-solid fa-check"></i> Your password can’t be a commonly used password.</li>
            <li><i class="fa-solid fa-check"></i> Your password can’t be entirely numeric.</li>
        </ul>
    </div>
</div>

{% endblock content %}