{% extends 'hazard/base.html' %}

{% block content %}

<!--Password reset sent-->

<div class="row center form-container page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Password Reset Sent</h1>
        <p>
            We’ve emailed you instructions for resetting your password,
            if an account exists with the email you provided.
            You should receive them shortly.
        </p>
        <p>
            If you don’t receive an email,
            please make sure you’ve entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</div>

{% endblock %}