{% extends 'hazard/base.html' %}

{% block content %}

<div>
    <div>
        <h1>List of Hazards</h1>
        <h3>{{ user|title }} has {{ unresolved }} unresolved record{{ unresolved|pluralize:'s' }}</h3>        
        <h3>{{ user|title }} has {{ resolved }} resolved record{{ resolved|pluralize:'s' }}</h3>
    </div>
    


    <a href="{% url 'hazard-create' %}">Add Hazard</a>

    <form action="" method="GET">
        <input type="text" name="search" value="{{ search_input }}">
        <input type="submit" value="Search">
    </form>

    <table>
        <tr>
            <th>Title</th>
            <th>Owned By</th>
            <th>Status</th>
        </tr>
        {% for hazard in hazards %}
        <tr>
            <td>{{ hazard.title }}</td>
            
            {% if user.is_superuser %}
            <td>{{ hazard.user }}</td>
            {% endif %}
            
            <td>{{ hazard.status }}</td>
            
            <td>{{ hazard.created_on|date:'Y-m-d' }}</td>
            <td><a href="{% url 'hazard' hazard.id %}">Open</a></td>
            <td><a href="{% url 'hazard-update' hazard.id %}">Edit</a></td>
            <td><a href="{% url 'hazard-delete' hazard.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>No hazards recorded</h3>
        {% endfor %}
    </table>
</div>

{% endblock content %}