{% block content %}

<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Hazard Create</h1>
    </div>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label for="id_category">Category:</label>
            {{ form.category }}
        </div>
        <div class="col-xs-12">
            <label for="id_title">Title:</label>
            <input type="text" name="title" maxlength="200" required="" id="id_title" class="input-text-field">
        </div>
        <div class="col-xs-12">
            <label for="id_image">Image:</label>
            <input type="file" name="image" id="id_image">
        </div>
        <div class="col-xs-12">
            <label for="id_description">Description:</label>
            <textarea name="description" cols="40" rows="10" id="id_description"
                placeholder="Enter details..."></textarea>
        </div>
        <div class="col-xs-12">
            <label for="id_level">Risk Level:</label>
            {{ form.level }}
        </div>
        <div class="col-xs-12">
            <label for="id_status">Status:</label>
            {{ form.status }}
        </div>
        <div class="col-6">
            <a class="back" href="{% url 'hazards' %}">
                <button type="button" class="btn btn-dark btn-back" role="button" aria-label="Go Back">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                    <span> Back</span>
                </button>
            </a>
        </div>
        <div class="col-6 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check" aria-label="Save"></i>
                <span> Save</span>
            </button>
        </div>
    </div>
    {% csrf_token %}

</form>

{% endblock content %}