{% block content %}

<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Hazard Records</h1>
        <h3>{{ user|title }} has <span class="unresolved">{{ unresolved }} unresolved</span> record{{ unresolved|pluralize:'s' }}</h3>
        <h3>{{ user|title }} has <span class="resolved">{{ resolved }} resolved</span> record{{ resolved|pluralize:'s' }}</h3>
    </div>
    <div class="col-xs-12 my-3">
        <form action="" method="GET" class="search-hazard-form">
            <input type="text" name="search" value="{{ search_input }}" class="search-hazard-form-input form-control mb-3">
            <input type="submit" value="Search" class="search-hazard-form-btn btn btn-primary btn-view">
        </form>
    </div>
    <div class="col-xs-12 mb-3">
        <a class="edit-record" href="{% url 'hazard-create' %}">
            <button type="button" class="btn btn-primary btn-add" role="button" aria-label="Edit">
                <i class="fa-solid fa-circle-plus fa-lg"></i></button>
        </a>
    </div>
</div>
<div class="card-container">
    <div class="row space-evenly">
        {% for hazard in hazards %}
        <div class="col-12 card p-3 mb-3">
            <div class="card-image">
                {% if 'placeholder' in hazard.image.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/lkcloud/image/upload/v1661038778/safely/hazards/hazard-warning-placeholder-image_dqtff5.jpg"
                    alt="Forest road with radioactive hazard sign">
                {% else %}
                <img class="card-img-top" src="{{ hazard.image.url }}" alt="">
                {% endif %}
            </div>
            <div class="card-body">
                <div class="col-xs-12 btn-haz title-haz">
                    {{ hazard.title }}
                </div>
                {% if user.is_superuser %}
                {% if hazard.status.name == 'Resolved' %}
                <div class="col-xs-12 hazard-resolved-icon btn-haz">
                    <p><span class="card-status">Status: </span> 
                        <i class="fa-solid fa-circle-check"></i>
                        <strong>{{ hazard.status }}</strong>
                    </p>
                </div>
                {% elif hazard.status.name == 'Pending' %}
                <div class="col-xs-12 hazard-pending-icon btn-haz">
                    <p><span class="card-status">Status: </span> 
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        <strong>{{ hazard.status }}</strong>
                    </p>
                </div>
                {% else %}
                <div class="col-xs-12 hazard-unresolved-icon btn-haz">
                    <p><span class="card-status">Status: </span>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <strong>{{ hazard.status }}</strong>
                    </p>
                </div>
                {% endif %}
                <div class="col-xs-12 btn-haz">
                    <p>Owner: <strong>{{ hazard.user }}</strong></p>                        
                </div>
                {% else %}
                {% if hazard.status.name == 'Resolved' %}
                <div class="col-xs-12 col-md-6 hazard-resolved-icon btn-haz">
                    <p><span class="card-status">Status: </span>
                        <i class="fa-solid fa-circle-check"></i>
                        <strong>{{ hazard.status }}</strong>
                    </p>
                </div>
                {% elif hazard.status.name == 'Pending' %}
                <div class="col-xs-12 hazard-pending-icon btn-haz">
                    <p><span class="card-status">Status: </span>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        <strong>{{ hazard.status }}</strong>
                    </p>
                </div>
                {% else %}
                <div class="col-xs-12 col-md-6 hazard-unresolved-icon btn-haz">
                    <p><span class="card-status">Status: </span>
                        <i class="fa-solid fa-circle-exclamation"></i>
                            {{ hazard.status }}
                    </p>
                </div>
                {% endif %}
                <div class="col-xs-12 col-md-6 btn-haz">
                    {{ hazard.created_on|date:'Y-m-d' }}
                </div>
                {% endif %}

                <div class="row btn-center g-1">
                    <div class="col-xs-12">
                        <a class="edit-record" href="{% url 'hazard' hazard.id %}">
                            <button type="button" class="btn btn-primary btn-view" role="button"
                                aria-label="View Details">
                                <i class="fa-solid fa-magnifying-glass"></i></button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a class="edit-record" href="{% url 'hazard-update' hazard.id %}">
                            <button type="button" class="btn btn-primary btn-edit" role="button" aria-label="Edit">
                                <i class="fas fa-pen"></i></button>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a class="edit-record" href="{% url 'hazard-delete' hazard.id %}">
                            <button type="button" class="btn btn-primary btn-delete" role="button"
                                aria-label="Delete">
                                <i class="fa-solid fa-trash-can"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
        <h3>No records found</h3>
        {% endfor %}
    </div>
</div>


{% endblock content %}