<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Hazard Details</h1>
    </div>
</div>

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label for="id_category">Category:</label>
            {{ form.category }}
        </div>
        <div class="col-xs-12">
            <label for="id_title">Title:</label>
            {{ form.title }}
        </div>
        <div class="col-12 card center">
            {% if 'placeholder' in hazard.image.url %}
            <img class=""
                src="https://res.cloudinary.com/lkcloud/image/upload/v1661038778/safely/hazards/hazard-warning-placeholder-image_dqtff5.jpg"
                alt="Yellow slippery road signage">
            {% else %}
            <img class="card-img-top" src="{{ hazard.image.url }}" alt="">
            {% endif %}
        </div>
        <div class="col-xs-12 image-update">
            <p>Image:</p>
            {{ form.image }}
        </div>
        <div class="col-xs-12">
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div class="col-xs-12">
            <label for="id_level">Risk Level:</label>
            {{ form.level }}
        </div>
        <div class="col-xs-12">
            <label for="id_status">Status:</label>
            {{ form.status }}
        </div>
        <div class="col-6">
            <a class="back btn btn-dark btn-back" href="{% url 'hazards' %}">
                <i class="fa-solid fa-circle-chevron-left"></i>
                <span> Back</span>
            </a>
        </div>
        <div class="col-6 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check"></i>
                <span> Update</span>
            </button>
        </div>
    </div>
    {% csrf_token %}

</form>