{% block content %}

<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Category Delete</h1>
    </div>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-0">
        <div class="col-12 p-3 mb-3 center">
            <p>Are you sure you want to delete <strong>'{{ category.name }}'</strong>?</p>
            <p>This category will be <strong>deleted permanently</strong>!</p>
        </div>
    </div>
    {{ form.as_p }}
    <div class="row center form-container">
        <div class="col-xs-12 p-2">
            <p><strong>Name:</strong></p>
            <p>{{ category.name }}</p>
        </div>
        {% if category.description == '' %}
        <div class="col-xs-12 p-2">
            <p><strong>Description:</strong></p>
            <p class="unresolved-icon">This record is missing description...</p>
        </div>
        {% else %}
        <div class="col-xs-12 p-2">
            <p><strong>Description:</strong></p>
            <p>{{ category.description }}</p>
        </div>
        {% endif %}
        <div class="col-6 pb-3">
            <a class="back" href="{% url 'categories' %}">
                <button type="button" class="btn btn-dark btn-back" role="button" aria-label="Go Back">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                    <span> Back</span>
                </button>
            </a>
        </div>
        <div class="col-6 pb-3">
            <button type="submit" class="btn btn-dark btn-delete" role="button" aria-label="Delete">
                <i class="fa-solid fa-trash-can"></i>
                <span> Delete</span>
            </button>
        </div>
    </div>
    {% csrf_token %}

</form>

{% endblock content %}