{% block content %}

<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Category Create</h1>
    </div>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div class="col-xs-12">
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div class="col-6">
            <a class="back" href="{% url 'categories' %}">
                <button type="button" class="btn btn-dark btn-back" role="button" aria-label="Go Back">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                    <span> Back</span>
                </button>
            </a>
        </div>
        <div class="col-6 update-hazard">
            <button type="submit" class="btn btn-success btn-edit">
                <i class="fa-solid fa-circle-check" aria-label="Save"></i>
                <span> Save</span>
            </button>
        </div>
        {% csrf_token %}
    </div>
</form>

{% endblock content %}