{% extends 'hazard/base.html' %}

{% block content %}

<div class="row page-header">
    <div class="col-xs-12 center-text">
        <h1 class="title-page">Ooops...</h1>
        <p>
            404 <span class="text-smaller">- page not found</span>
        </p>
        <hr>
        <p class="py-3">
            We've searched for what you were looking for and came up empty.
        </p>
        <p class="text-center">
            Don't worry, there is plenty more to choose from.
        </p>
    </div>
</div>

<div class="row center form-container g-3 pb-3">
    <div class="col-6">
        <a class="back btn btn-dark btn-back" href="{% url 'homepage' %}">
            <i class="fa-solid fa-house"></i>
            <span> Homepage</span>
        </a>
    </div>
    <div class="col-6">
        <a class="back btn btn-dark btn-back" href="{% url 'hazards' %}">
            <i class="fa-solid fa-biohazard"></i>
            <span> Hazards</span>
        </a>
    </div>
    <div class="col-6">
        <a class="back btn btn-dark btn-back" href="{% url 'privacy-policy' %}">
            <i class="fa-solid fa-toilet-paper"></i>
            <span> Privacy Policy</span>
        </a>
    </div>
    <div class="col-6">
        <a class="back btn btn-dark btn-back" href="{% url 'profile-view' user.id %}">
            <i class="fa-solid fa-user-secret"></i>
            <span> User Profile</span>
        </a>
    </div>
</div>

{% endblock content %}