{% extends 'hazard/base.html' %}

{% block content %}

<!-- main -->

<div id="hero">
    <div class="hero-image"></div>
    <div class="hero-text">
        Your memories… <br>
        painted with light like nothing else you’ve ever seen before…
    </div>
    <a href="#ethos">
        <div class="scroll-down">
            scroll down
        </div>
    </a>
</div>
<div class="row center form-container g-3 pb-3">
    <div class="col-xs-12">
        <p>random text</p>
    </div>
</div>


<section id="about">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <p>Text abouts</p>
        </div>
        <div class="col-xs-12">
            <p>text about 2</p>
        </div>
    </div>
</section>

<section id="contact">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <h2 class="section-header">let's talk...</h2>
            <p>We are honored that you are interested in Safely app. Please fill out the form so
                that we can give you information tailored to your neeeds.</p>
        </div>
    </div>
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <h3>contact</h3>
            <ul>
                <li><i class="fas fa-globe"></i> kukladev.com</li>
                <li><a href="tel:+353870540026"><i class="fas fa-phone-alt"></i> +353 87 054 0026</a></li>
                <li><a href="mailto:lukaszkukladev@gmail.com"><i class="fas fa-envelope"></i>
                        lukaszkukladev@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <form method="get" action="" class="contact-form">
        <div class="row center form-container g-3 pb-3">
            <div class="col-xs-12">
                <label for="name" class="contact-form-label">name (required)</label>
                <input type="text" name="name" id="name" class="contact-data" placeholder=" enter your name" required>
            </div>
            <div class="col-xs-12">
                <label for="email" class="contact-form-label">email (required)</label>
                <input type="email" name="email_address" id="email" class="contact-data"
                    placeholder=" enter your email address" required>
            </div>
            <div class="col-xs-12">
                <label for="phone" class="contact-form-label">phone number (optional)</label>
                <input type="tel" name="phone-number" id="phone" class="contact-data"
                    placeholder=" enter your phone number">
            </div>
            <div class="col-xs-12">
                <label for="message" class="contact-form-label">enter your message (required)</label>
                <textarea name="message" id="message" rows="5" cols="33" placeholder="enter your message..."
                    class="contact-message" required>
                        </textarea>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success btn-edit" aria-label="submit form button">
                    <i class="fa-solid fa-paper-plane"></i>
                    <span> let's talk</span>
                </button>
            </div>
    </form>
    </div>
</section>
</main>
{% endblock content %}