{% extends 'hazard/base.html' %}

{% block content %}

<!-- main -->

<div id="hero">
    <div class="hero-image"></div>
    <div class="hero-text">
        Your memories… <br>
        painted with light like nothing else you’ve ever seen before…
    </div>
    <a href="#ethos">
        <div class="scroll-down">
            scroll down
        </div>
    </a>
</div>
<div class="row center form-container g-3 pb-3">
    <div class="col-xs-12">
        <p>random text</p>
    </div>
</div>

<main class="main-wrapper">
    

    <section id="ethos">

        <div class="ethos-grid">

            <div class="ethos-heading">
                <h2 class="section-header">why qubartstudios</h2>
            </div>

            <div class="ethos-content">
                I invite you to take that amazing journey through your wedding day with me. I
                use
                my skills and
                creativity to tell your own story in the most artistic way possible.
            </div>

            <div class="horizontal-divider"></div>

            <div class="ethos-content">
                I take photographs which reflect your unique personality and style. My
                photographs tell your story and
                bring a smile to your face, tears of happiness and wonderful memories for many years to come.
            </div>

            <div class="horizontal-divider"></div>

            <div class="ethos-content ethos-content-bottom">
                It is my sincere hope to share the love, laughter and warmth of your special
                day
                with QubArtStudios because You Deserve the best.
            </div>

        </div>

    </section>

    <section id="portfolio">
        <div class="portfolio-heading">
            <h2 class="section-header">portfolio</h2>
        </div>
        <div class="portfolio-content">
            <a href="portfolio.html">
                <div class="portfolio-image">
                    <img src="assets/images/bride-with-flowers.jpg"
                        alt="bride holding light pink roses and looking down at them">
                </div>
                <ul>
                    <li class="portfolio-date">19 December 2021</li>
                    <li class="portfolio-title">John and Anna</li>
                    <li class="portfolio-venue">Ratsallagh House</li>
                </ul>
            </a>
        </div>
        <div class="portfolio-content">
            <a href="portfolio.html">
                <div class="portfolio-image">
                    <img src="assets/images/bride-with-ladybird.jpg" class=""
                        alt="smiling face of bride with the ladybird on her cheek">
                </div>
                <ul>
                    <li class="portfolio-date">19 December 2021</li>
                    <li class="portfolio-title">John and Anna</li>
                    <li class="portfolio-venue">Ratsallagh House</li>
                </ul>
            </a>
        </div>
        <div class="portfolio-content">
            <a href="portfolio.html">
                <div class="portfolio-image">
                    <img src="assets/images/wedding-couple.jpg" alt="groom kissing brides hand">
                </div>
                <ul>
                    <li class="portfolio-date">19 December 2021</li>
                    <li class="portfolio-title">John and Anna</li>
                    <li class="portfolio-venue">Ratsallagh House</li>
                </ul>
            </a>
        </div>
        <div id="portfolio-explore">
            <a href="portfolio.html">explore more...</a>
        </div>
    </section>
    <section id="about">
        <div class="about-grid-container section-width-1200">
            <h2 class="about-heading section-header about-grid-item-0">about</h2>
            <img src="assets/images/photographer-on-a-bridge-in-wicklow-mountains.jpg"
                alt="photographer on a bridge in a Wicklow mountains in Ireland"
                class="about-grid-image about-grid-item-1">
            <div class="about-grid-content about-grid-item-2">
                <p>
                    My goal is to take photographs that will reflect your unique style and personality. I will tell
                    your story and bring a smile to your face, tears of happiness and wonderful memories for many
                    years
                    to
                    come.
                    <br><br>
                    I am inviting you to take that amazing journey through your wedding day with me. I’ll use my
                    skills
                    and
                    creativity to do my best telling your own story in the most artistic way possible.
                    <br><br>
                    It will be an absolute honour and privilege to me having a chance to be part of your Special
                    Day.
                    Enjoy the unique experience of QubArtStudios Wedding Photography.
                </p>
            </div>
            <div class="about-grid-content about-grid-item-3">
                <p>
                    I learnt from the best wedding and portrait photographers and digital artists in the world. As
                    a professional wedding photographer I create range of beautiful, realistic and emotional
                    pictures that you and your beloved will cherish for life.
                    <br><br>
                    Through the years I found that photographing weddings is what I love the most.
                    <br><br>
                    With my camera, I typically witness happy and important moments of people’s lives. Where there
                    are
                    people there are emotions and stories to tell through my photos.
                    <br>
                    The wedding day will be one of the most significant events of your lifetime. You owe it to
                    yourself
                    to
                    document your precious moments of that day in a stylish, creative, elegant, fun and modern way.
                </p>
            </div>
            <img src="assets/images/three-faces-with-various-expressions.jpg"
                alt="three faces with various expressions profile image" class="about-grid-image about-grid-item-4">
            <img src="assets/images/qubartstudios-trade-show-stand-with-table.jpg"
                alt="qubart studios trade show stand with photo and gadgets" class="about-grid-image about-grid-item-5">
            <div class="about-grid-content about-grid-item-6">
                <p>
                    QubArtStudios, based in Dublin is owned and run by Jakub – International Wedding Photographer
                    and
                    Digital
                    Artist.
                    <br><br>
                    His photography and multimedia production studio give a competitive advantage as provides an
                    exciting
                    new
                    opportunity for the clients to experience stylish and modern photography and powerful, dynamic
                    2D
                    and 3D
                    audiovisual productions.
                    <br><br>
                    Qubart Studios works with a partnership with photographers and businesses worldwide and
                    successfully
                    accomplished photography and multimedia projects for international and well-known companies such
                    as
                    Google, eBay or Starbucks.
                </p>
            </div>
            <div class="about-moments-text about-grid-item-7">
                it's all about moments...
            </div>
            <img src="assets/images/face-of-man-and-two-girls.jpg" class="about-moments-image about-grid-item-8"
                alt="faces of man with 2 girls">

        </div>
    </section>

    <section id="testimonials">
        <div class="testimonials-heading">
            <h2 class="section-header">testimonials</h2>
        </div>
        <div class="testimonials-grid">

            <div class="testimonials-content">
                <div>
                    <i class="fas fa-quote-left"></i>
                    <p>Hi All, I would just like to take some time here to review my fabulous photographer of our
                        wedding day. Jakub was superb, he really captured the essence of the day and went over and
                        above to help. I would strongly recommend him to anyone, especially if you want to capture
                        some really cool and special one-off moments. I have his photographs all over my house.
                        Thanks again Jakub</p>
                    <div class="testimonials-title">Caroline & Ciaran</div>
                </div>
            </div>

            <div class="testimonials-content">
                <div>
                    <i class="fas fa-quote-left"></i>
                    <p>We would absolutely recommend QubArtStudios to shoot your wedding!! Jakub was great (and
                        patient when it came to getting all of us girls ready). We received the pics online in less
                        than 2 weeks later!! He created fantastic wedding reportage! Jakub and his team had great
                        visions and unique approach! We are obsessed with our pictures and an absolutely amazing 3D
                        movie clip! Book him NOW!!!</p>
                    <div class="testimonials-title">Pauraic and Saoirse</div>
                </div>
            </div>

            <div class="testimonials-content">
                <div>
                    <i class="fas fa-quote-left"></i>
                    <p>Jakub was fantastic, both before, during and after our wedding. On the day he was very
                        attentive to detail and we had lots of fun in Merrion Square for our photo shoot! He made
                        the whole thing fun, carefree and enjoyable. Our photos are beautiful and whimsical which
                        recreates the day for us every time we look at them. We would highly recommend him for your
                        special day.</p>
                    <div class="testimonials-title">Audrey & Mary-Louise</div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="contact-grid section-width-1200">
            <div class="contact-heading">
                <h2 class="section-header">let's talk...</h2>
                <p>We are honored that you are interested in our wedding photography. Please fill out the form so
                    that we can give you information tailored to your neeeds.</p>
            </div>
            <div class="contact-details">
                <h3>contact</h3>
                <ul>
                    <li><i class="fas fa-globe"></i> qubartstudios.com</li>
                    <li><a href="tel:+353877405135"><i class="fas fa-phone-alt"></i> +353 87 740 5135</a></li>
                    <li><a href="mailto:qubartstudios@gmail.com"><i class="fas fa-envelope"></i>
                            qubartstudios@gmail.com</a></li>
                </ul>
            </div>
            <form method="get" action="thanks.html" class="contact-form">
                <label for="name" class="contact-form-label">name (required)</label>
                <input type="text" name="name" id="name" class="contact-data" placeholder=" enter your name" required>

                <label for="email" class="contact-form-label">email (required)</label>
                <input type="email" name="email_address" id="email" class="contact-data"
                    placeholder=" enter your email address" required>

                <label for="phone" class="contact-form-label">phone number (optional)</label>
                <input type="tel" name="phone-number" id="phone" class="contact-data"
                    placeholder=" enter your phone number">

                <span class="wedding-package">
                    <input type="radio" name="wedding_package" id="photo" value="photo" required>
                    <label for="photo">photographer</label>
                </span>

                <span class="wedding-package">
                    <input type="radio" name="wedding_package" id="video" value="video">
                    <label for="video">videographer</label>
                </span>

                <span class="wedding-package">
                    <input type="radio" name="wedding_package" id="both" value="both">
                    <label for="both">both</label>
                </span>

                <label for="message" class="contact-form-label">enter your message (required)</label>
                <textarea name="message" id="message" rows="5" cols="33" placeholder="enter your message..."
                    class="contact-message" required></textarea>

                <button type="submit" class="contact-button" aria-label="submit form button">let's talk</button>
            </form>
        </div>
    </section>

    {% endblock content %}