{% block content %}

<div>
    {% if page == 'reset' %}
    {% include 'hazard/components/password/change_password.html' %}
    {% elif page == 'reset-form' %}
    {% include 'hazard/components/password/change_password.html' %}
    {% elif page == 'reset-sent' %}
    {% include 'hazard/components/password/change_password.html' %}
    {% elif page == 'reset-done' %}
    {% include 'hazard/components/password/change_password.html' %}
    {% elif page == 'password-change' %}
    {% include 'hazard/components/password/password_change.html' %}
    {% elif page == 'password-update' %}
    {% include 'hazard/pages/profile.html' %}
    {% else %}
    {% include 'hazard/pages/404.html' %}
    {% endif %}
</div>

{% endblock content %}