{% extends 'hazard/base.html' %}

{% block content %}

<div>
    {% if page == 'password-reset' %}
    {% include 'hazard/components/password/password_reset.html' %}
    {% elif page == 'password-reset-confirm' %}
    {% include 'hazard/components/password/password_reset_confirm.html' %}
    {% elif page == 'password-reset-done' %}
    {% include 'hazard/components/password/password_reset_done.html' %}
    {% elif page == 'password-reset-complete' %}
    {% include 'hazard/components/password/password_reset_complete.html' %}
    {% elif page == 'password-update' %}
    {% include 'hazard/components/password/password_change.html' %}
    {% elif page == 'profile-view' %}
    {% include 'hazard/components/profile/profile_view.html' %}    
    {% endif %}
</div>

{% endblock content %}