{% extends 'hazard/base.html' %}

{% block content %}
<!-- main -->

<div class="row page-header pb-3">
    <div class="col-xs-12">
        <h2>Thank You</h2>
        <p>Somone from Safely team will contact you soon...</p>
    </div>

    <div class="col-4">
        <a class="back" href="{% url 'homepage' %}">
            <button type="button" class="btn btn-dark btn-back" role="button" aria-label="Go Back">
                <i class="fa-solid fa-circle-chevron-left"></i>
                <span> Back</span>
            </button>
        </a>
    </div>
</div>

{% endblock content %}