<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Risk List</h1>
    </div>
</div>
<div class="form-container">
    <div class="col-xs-12 my-3">
        <a class="back btn btn-dark btn-back" href="{% url 'hazards' %}">
            <i class="fa-solid fa-circle-chevron-left"></i>
            <span> Back</span>
        </a>
    </div>
    <div class="col-xs-12 mb-3">
        <a class="edit-record btn btn-success btn-add p-3" href="{% url 'risks-create' %}">
            <i class="fa-solid fa-circle-plus fa-lg"></i>
            <span> Add</span>
        </a>
    </div>
</div>
{% for risk in risks %}
<div class="form-container card">
    <div class="row">
        <div class="col-xs-12">
            <p class="card-status title-item-wrap">Risk Level:</p>
            <p>{{ risk.level }}</p>
        </div>
    </div>
    <div class="row btn-center g-2">
        <div class="col-6">
            <a class="edit-record btn btn-success btn-edit" href="{% url 'risks-update' risk.pk %}">
                <i class="fas fa-pen"></i>
                <span> Edit</span>
            </a>
        </div>
        <div class="col-6">
            <a class="edit-record btn btn-dark btn-delete" href="{% url 'risks-delete' risk.pk %}">
                <i class="fa-solid fa-trash-can"></i>
                <span> Delete</span>
            </a>
        </div>
    </div>
</div>
{% endfor %}