<div class="row page-header">
    <div class="col-xs-12">
        <h1 class="center-text title-page">Risk Update</h1>
    </div>
</div>

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="row center form-container g-3 pb-3 error-msg">
    <div class="col-xs-12 alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
</div>
{% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
    <div class="row center form-container g-3 pb-3">
        <div class="col-xs-12">
            <label for="id_level">Level:</label>
            {{ form.level }}
        </div>        
        <div class="col-6">
            <a class="back btn btn-dark btn-back" href="{% url 'risks' %}">
                <i class="fa-solid fa-circle-chevron-left"></i>
                <span> Back</span>
            </a>
        </div>
        <div class="col-6 update-hazard">
            <button type="submit" class="btn btn-success btn-edit" aria-label="Save">
                <i class="fa-solid fa-circle-check"></i>
                <span> Update</span>
            </button>
        </div>
        {% csrf_token %}
    </div>
</form>